<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .buttonColor {
        background-color: aqua;
        color: black;
      }
      .buttonLayout {
        text-align: center;
        width: 120px;
      }
      .staticBorder {
        border: khaki dashed 1px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="checkbox" v-model="color" />
      색상 <br />
      <input type="checkbox" v-model="size" />
      크기 <br />
      <input type="checkbox" v-model="border" />
      테두리 <br />
      <button :class="v1" :class="v2" :class="v3">버튼</button>
    </div>
    <script>
      const { createApp, ref } = Vue;
      createApp({
        name: 'App',
        data() {
          return {
            color: true,
            size: true,
            border: true,
          };
        },
        computed: {
          v1() {
            return this.color ? 'buttonColor' : '';
          },
          v2() {
            return this.size ? 'buttonLayout' : '';
          },
          v3() {
            return this.border ? 'staticBorder' : '';
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
